@font-face {
  font-family: 'smct-index-iconfont';
  /* project id 266910 */
  src: url('//at.alicdn.com/t/font_0w3gcy6pjd29be29.eot');
  src: url('//at.alicdn.com/t/font_0w3gcy6pjd29be29.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_0w3gcy6pjd29be29.woff') format('woff'), url('//at.alicdn.com/t/font_0w3gcy6pjd29be29.ttf') format('truetype'), url('//at.alicdn.com/t/font_0w3gcy6pjd29be29.svg#iconfont') format('svg');
}
.oxmod-smct-index {
  /* CSS */
  color: #555;
  background-color: #f0f0f0;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}
.oxmod-smct-index .iconfont {
  font-family: smct-index-iconfont;
  font-style: normal;
}
.oxmod-smct-index .bt-start {
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #0b97c4;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #ccc;
  transition: all .5s;
  display: inline-block;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
}
.oxmod-smct-index .bt-start:hover {
  opacity: .9;
}
.oxmod-smct-index .process {
  text-align: left;
  padding: 0px 20px;
}
.oxmod-smct-index .step {
  display: inline-block;
  font-size: 12px;
  vertical-align: top;
  width: 100%;
  line-height: 20px;
  margin-top: -5px;
}
.oxmod-smct-index .step .iconfont {
  color: #09c;
  font-size: 20px;
  vertical-align: baseline;
  display: inline-block;
  margin-right: 10px;
}
.oxmod-smct-index .arrow {
  font-family: smct-index-iconfont;
  font-style: normal;
  color: #ccc;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  transform: rotate(90deg);
  margin: -5px 0 -9px 35px;
}
.oxmod-smct-index .ul-1 {
  color: #fff;
  margin-top: -240px;
  text-align: left;
  margin-left: 10px;
  padding-left: 16px;
  font-size: 18px;
}
.oxmod-smct-index .ul-1 li {
  list-style: disc;
}
.oxmod-smct-index .supports .iconfont {
  font-size: 30px;
  letter-spacing: 20px;
  color: #ccc;
}
.oxmod-smct-index .usage {
  padding-left: 16px;
  text-align: left;
  margin: 1px 10px;
  font-size: 14px;
  font-weight: 400;
}
.oxmod-smct-index .usage li {
  list-style: decimal;
}
.oxmod-smct-index .title {
  margin: 10px 0 5px;
}
.oxmod-smct-index .title:before,
.oxmod-smct-index .title:after {
  content: '';
  width: 50px;
  border-top: solid 1px #ddd;
  display: inline-block;
  margin: 0px 15px 0;
  vertical-align: middle;
}
.oxmod-smct-index .demoplayer {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.oxmod-smct-index .demoplayer .demo {
  transition: all .5s;
  transform: translate(100%, 0);
}
.oxmod-smct-index .demoplayer .current {
  transform: translate(0%, 0);
  z-index: 1;
  opacity: 1;
}
.oxmod-smct-index .demoplayer .current-out {
  transform: translate(-100%, 0);
}
.oxmod-smct-index .demo {
  display: inline-block;
  vertical-align: top;
  color: #f10;
  font-size: 20px;
  position: absolute;
  left: 0;
  opacity: 0;
  z-index: 0;
  text-shadow: 0 0 5px #000;
  overflow: hidden;
  border-radius: 5px;
  font-weight: 700;
  width: 100%;
}
.oxmod-smct-index .demo img {
  width: 100%;
  border-radius: 5px;
  height: 200px;
  margin-bottom: -40px;
}
.oxmod-smct-index .func em {
  font-size: 1.2em;
  color: #333;
  font-style: normal;
}
.oxmod-smct-index .screen-demo {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-size: 13px;
}
.oxmod-smct-index .screen-demo img {
  width: 140px;
  margin: 5px;
}
.oxmod-smct-index .features {
  text-align: left;
  margin-left: 20px;
}
.oxmod-smct-index .features li {
  list-style: disc;
  padding: 5px 0;
}
@keyframes gogogo {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(5px, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(5px, 0);
  }
  40% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.oxmod-smct-index .gogogo {
  position: absolute;
  font-size: 1.2em;
  margin-left: 5px;
  animation-name: gogogo;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
